<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ISE_ODL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ISE_ODL.Properties.Settings>
            <setting name="TimerAttivo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DurataDelTimer" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="DurataMinimaOdl" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="IntervalloInModifica" serializeAs="String">
                <value>00:10:00</value>
            </setting>
            <setting name="UriDatabase" serializeAs="String">
                <value>mongodb://127.0.0.1:27017/?directConnection=true&amp;serverSelectionTimeoutMS=2000&amp;appName=mongosh+1.10.6</value>
            </setting>
        </ISE_ODL.Properties.Settings>
    </userSettings>
</configuration>